body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
}

@font-face {
  font-family: "Frosty";
  src: url(/assets/font/Frosty.otf) format("truetype");
}
p.customfont { 
  font-family: "My Custom Font", Verdana, Tahoma;
}

.hero {
  /* Sizing */
  width: 100vw;
  height: 90vh;
  color:black;
  /* Flexbox stuff */
  display: flex;
  /* Text styles */
  text-align: left;
   /* Background styles */
   background-image: url(../assets/img/hero-image.png);
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: 'Poppins', sans-serif;
}
.hero .hero-title {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 80px;
  font-style: normal;
  font-stretch: normal;
  line-height: 44px;
  letter-spacing: normal;
}
#hero-container{
  margin-left: 100px;
  margin-right: 100px;
}
#logo{
    width: 93px;
    height: 35px;
    margin: 0;
    position: relative;
}

#tagline {
  margin-top: 270px;
  margin-left: 0;
  padding-left: 0;
  padding-right: 90px;
}
.hero p{
  color: black;
  font-size: 24px;
  font-family: 'Varela Round', sans-serif;
}
#mockup-hero img{
  padding-top: 10vh;
}

#mockup-hero a{
  font-family: Frosty;
}

#section-1 {
  width: 100vw;
  height: 90vh;
  display: flex;
  background-image: url(../assets/img/ids-mockup-06.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#section-2{
  margin-top: 130px;
  padding-bottom: 100px
}

#gif1{
  position: absolute;
  margin-left: -273px;
  margin-top: 32px;
  z-index: -1
}

#section-3{
  background-color: #F2F2F2;
  padding-top: 130px;
  padding-bottom: 100px;
}

#section-3 .title{
  padding-left: 150px
}
.title p{
  width: 500px
}

#section-3 .dancestudios{
  padding-left: 80px
}

#section-4{
  margin-top: 130px;
  padding-bottom: 100px;
}

#section-4 .location{
  padding-left: 200px;
}

#section-4 .title{
  padding-bottom: 40px
}

a{
  color: #5795D0
}

a:hover{
  color: #DD4A9A
}



h2{
  font-size: 26px;
  font-weight: bold;
  color: #343a40
}
h3{
  font-size: 26px;
  color: #343a40
}
#fesature-description{
  margin-top: 200px
}
h4{
  font-size: 20px;
}

p{
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 28px;
  letter-spacing: normal;
  color: #727272;
}
#about{
  width: 100vw;
  height: 60vh;
  background-size: cover;
  padding-top: 20px
}

#about p{
  padding-right: 450px;
  padding-left: 450px;
}

#dance-genres{
  text-align: center;
}

.hero a {
  color: black;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  font-size: 24px
}
.hero a:hover {
  color: #DD4A9A;
  text-decoration: none;
}

a:hover{
  text-decoration: none
}


#footer{
  padding-bottom: 100px;
  background-image: radial-gradient(circle at 49% 0, #11447c, #051140);
}
#footer #pattern {
  position: absolute

}
#footer-content{
  padding-top: 100px;
  
}
#footer h2{
  color: white
}
#footer h6{
  color: lightgrey;
  font-size: 14px;  
}

#logos img{
  margin-left: 10px;
  margin-right: 10px
}

#footer h6{
  opacity: 0.5;

}


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  #phone-mockup-hero img{
    width: 350px;
    padding-top: 100px
  }
  #section-resale-img img{
    width: 250px
  }
 }

 /* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1500px) { 
  #phone-mockup-hero img{
    width: 400px;
    padding-top: 100px
  }
  #tagline h1{
    font-size: 32px;
    padding-right: 100px;
    line-height: 46px
  }
  #image-left img{
    position: absolute;
    display:flex;
    align-items: center !important; 
    justify-content: center !important;
    margin-top: -455px;
    margin-left: 15%;
  }
}

@media (min-width: 1600px) {
  #image-left img{
    position: absolute;
    display:flex;
    align-items: center !important; 
    justify-content: center !important;
    margin-top: -455px;
    margin-left: 18%;
  }
  #section-1 #feature-desc{
    margin-left: 250px;
    margin-right: 250px
  }
  #section-resale-img img{
    width: 300px
  }
}

@media (min-width: 1800px) { 
  #phone-mockup-hero img{
    width: 450px;
    padding-top: 100px
  }
  #image-left img{
    position: absolute;
    display:flex;
    align-items: center !important; 
    justify-content: center !important;
    margin-top: -455px;
    margin-left: 20%;
  }
}

@media (min-width: 1900px) { 
  #image-left img{
    position: absolute;
    display:flex;
    align-items: center !important; 
    justify-content: center !important;
    margin-top: -455px;
    margin-left: 25%;
  }
}
