body.dark-mode {
  background-color: #111;
  color: #eee;}
  body.dark-mode a {
    color: #111;
  }
  body.dark-mode h2{
    color:#eee;;
  }
  body.dark-mode p{
    color:#C1C1C1;
  }

body.light-mode {
  background-color: #eee;
  color: #111;}


